--
-- PostgreSQL database dump
--

\restrict UU3KkBd3R5j1qlwuY7mQNGAB96PSmKHsxqk51U8ifWGq6pTKkMngTepoStCFY0H

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dev_logs; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.dev_logs (
    id character varying(64) NOT NULL,
    "timestamp" timestamp with time zone,
    type character varying(32),
    summary text,
    file_path text,
    tags json,
    author character varying(32),
    commit_hash character varying(40),
    env_snapshot text,
    execution_trace json,
    ai_comment text
);


ALTER TABLE public.dev_logs OWNER TO ssp_admin;

--
-- Name: roadmap_items; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.roadmap_items (
    id integer NOT NULL,
    version character varying NOT NULL,
    codename character varying NOT NULL,
    goal text NOT NULL,
    status character varying NOT NULL,
    description text NOT NULL,
    "startDate" character varying,
    "endDate" character varying,
    progress integer,
    "keyFeatures" character varying[],
    dependencies character varying[],
    metrics character varying[],
    owner character varying,
    "documentationLink" character varying,
    "prLink" character varying,
    development_details text,
    parent_id integer
);


ALTER TABLE public.roadmap_items OWNER TO ssp_admin;

--
-- Name: roadmap_items_id_seq; Type: SEQUENCE; Schema: public; Owner: ssp_admin
--

CREATE SEQUENCE public.roadmap_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roadmap_items_id_seq OWNER TO ssp_admin;

--
-- Name: roadmap_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ssp_admin
--

ALTER SEQUENCE public.roadmap_items_id_seq OWNED BY public.roadmap_items.id;


--
-- Name: samples; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.samples (
    id integer NOT NULL,
    created_at timestamp with time zone,
    prompt text,
    result text
);


ALTER TABLE public.samples OWNER TO ssp_admin;

--
-- Name: samples_id_seq; Type: SEQUENCE; Schema: public; Owner: ssp_admin
--

CREATE SEQUENCE public.samples_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.samples_id_seq OWNER TO ssp_admin;

--
-- Name: samples_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ssp_admin
--

ALTER SEQUENCE public.samples_id_seq OWNED BY public.samples.id;


--
-- Name: session_logs; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.session_logs (
    id character varying NOT NULL,
    created_at timestamp with time zone,
    user_input text,
    final_output text,
    evaluation_score double precision,
    evaluation_comment text,
    workflow_trace json,
    context text,
    generator_prompt text,
    generator_response text,
    commit_hash character varying(40),
    env_snapshot text,
    ai_comment text
);


ALTER TABLE public.session_logs OWNER TO ssp_admin;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_input text NOT NULL,
    generated_text text NOT NULL,
    rating integer,
    feedback text
);


ALTER TABLE public.sessions OWNER TO ssp_admin;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: ssp_admin
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sessions_id_seq OWNER TO ssp_admin;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ssp_admin
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: world_knowledge; Type: TABLE; Schema: public; Owner: ssp_admin
--

CREATE TABLE public.world_knowledge (
    id integer NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.world_knowledge OWNER TO ssp_admin;

--
-- Name: world_knowledge_id_seq; Type: SEQUENCE; Schema: public; Owner: ssp_admin
--

CREATE SEQUENCE public.world_knowledge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.world_knowledge_id_seq OWNER TO ssp_admin;

--
-- Name: world_knowledge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ssp_admin
--

ALTER SEQUENCE public.world_knowledge_id_seq OWNED BY public.world_knowledge.id;


--
-- Name: roadmap_items id; Type: DEFAULT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.roadmap_items ALTER COLUMN id SET DEFAULT nextval('public.roadmap_items_id_seq'::regclass);


--
-- Name: samples id; Type: DEFAULT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.samples ALTER COLUMN id SET DEFAULT nextval('public.samples_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: world_knowledge id; Type: DEFAULT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.world_knowledge ALTER COLUMN id SET DEFAULT nextval('public.world_knowledge_id_seq'::regclass);


--
-- Data for Name: dev_logs; Type: TABLE DATA; Schema: public; Owner: ssp_admin
--

COPY public.dev_logs (id, "timestamp", type, summary, file_path, tags, author, commit_hash, env_snapshot, execution_trace, ai_comment) FROM stdin;
\.


--
-- Data for Name: roadmap_items; Type: TABLE DATA; Schema: public; Owner: ssp_admin
--



--
-- Data for Name: samples; Type: TABLE DATA; Schema: public; Owner: ssp_admin
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: ssp_admin
--

COPY public.sessions (id, "timestamp", user_input, generated_text, rating, feedback) FROM stdin;
3	2025-11-01 23:44:16.188531+00	繝翫ヮ蜊壼｣ｫ縺檎↓譏溘〒逵縺｣縺ｦ繧狗炊逕ｱ縺ｯ・・繧ｷ繝ｭ繧､: 謌ｦ莠峨〒譎る俣縺梧ｭ｢縺ｾ縺｣縺溘ｓ縺繧医りｻ碁％繧ｨ繝ｬ繝吶・繧ｿ縺ｮ菫ｮ蠕ｩ繧貞ｾ・■縺ｪ縺後ｉ縺ｭ縲・1	Simulated evaluation.
\.


--
-- Data for Name: world_knowledge; Type: TABLE DATA; Schema: public; Owner: ssp_admin
--

COPY public.world_knowledge (id, content) FROM stdin;
1	繝翫ヮ蜊壼｣ｫ縺ｯ轣ｫ譏溘〒繧ｳ繝ｼ繝ｫ繝峨せ繝ｪ繝ｼ繝嶺ｸｭ縲りｻ碁％繧ｨ繝ｬ繝吶・繧ｿ菫ｮ蠕ｩ繧貞ｾ・▲縺ｦ縺・ｋ縲・2	繧ｷ繝ｭ繧､繧ｷ繧ｹ繝・Β繝励Λ繝・ヨ繝輔か繝ｼ繝・・SP・峨・縲、I遘大ｭｦ閠・す繝ｭ繧､縺碁幕逋ｺ縺励◆谺｡荳紋ｻ｣縺ｮAI繝励Λ繝・ヨ繝輔か繝ｼ繝縺ｧ縺ゅｋ縲・3	繧ｷ繝代せ險育判縺ｯ縲、I繧ｷ繧ｧ繝ｫ繧ｿ繝ｼ蝨ｰ荳九〒陦後ｏ繧後◆轣ｫ譏溽ｧｻ菴上・繝ｭ繧ｸ繧ｧ繧ｯ繝医〒縺ゅｋ縲・4	霆碁％繧ｨ繝ｬ繝吶・繧ｿ縺ｯ縲∝慍逅・→螳・ｮ吶ｒ邨舌・驥崎ｦ√↑繧､繝ｳ繝輔Λ縺ｧ縺ゅｊ縲∫樟蝨ｨ菫ｮ蠕ｩ荳ｭ縺ｧ縺ゅｋ縲・5	繧ｷ繝ｭ繧､縺ｯ縲∫憎蟶後・荳也阜隕ｳ縺ｫ縺翫￠繧帰I遘大ｭｦ閠・〒縺ゅｊ縲ヾSP縺ｮ髢狗匱閠・〒縺ゅｋ縲・6	繝翫ヮ蜊壼｣ｫ縺ｯ轣ｫ譏溘〒繧ｳ繝ｼ繝ｫ繝峨せ繝ｪ繝ｼ繝嶺ｸｭ縲りｻ碁％繧ｨ繝ｬ繝吶・繧ｿ菫ｮ蠕ｩ繧貞ｾ・▲縺ｦ縺・ｋ縲・7	繧ｷ繝ｭ繧､繧ｷ繧ｹ繝・Β繝励Λ繝・ヨ繝輔か繝ｼ繝・・SP・峨・縲、I遘大ｭｦ閠・す繝ｭ繧､縺碁幕逋ｺ縺励◆谺｡荳紋ｻ｣縺ｮAI繝励Λ繝・ヨ繝輔か繝ｼ繝縺ｧ縺ゅｋ縲・8	繧ｷ繝代せ險育判縺ｯ縲、I繧ｷ繧ｧ繝ｫ繧ｿ繝ｼ蝨ｰ荳九〒陦後ｏ繧後◆轣ｫ譏溽ｧｻ菴上・繝ｭ繧ｸ繧ｧ繧ｯ繝医〒縺ゅｋ縲・9	霆碁％繧ｨ繝ｬ繝吶・繧ｿ縺ｯ縲∝慍逅・→螳・ｮ吶ｒ邨舌・驥崎ｦ√↑繧､繝ｳ繝輔Λ縺ｧ縺ゅｊ縲∫樟蝨ｨ菫ｮ蠕ｩ荳ｭ縺ｧ縺ゅｋ縲・10	繧ｷ繝ｭ繧､縺ｯ縲∫憎蟶後・荳也阜隕ｳ縺ｫ縺翫￠繧帰I遘大ｭｦ閠・〒縺ゅｊ縲ヾSP縺ｮ髢狗匱閠・〒縺ゅｋ縲・11	繝翫ヮ蜊壼｣ｫ縺ｯ轣ｫ譏溘〒繧ｳ繝ｼ繝ｫ繝峨せ繝ｪ繝ｼ繝嶺ｸｭ縲りｻ碁％繧ｨ繝ｬ繝吶・繧ｿ菫ｮ蠕ｩ繧貞ｾ・▲縺ｦ縺・ｋ縲・12	繧ｷ繝ｭ繧､繧ｷ繧ｹ繝・Β繝励Λ繝・ヨ繝輔か繝ｼ繝・・SP・峨・縲、I遘大ｭｦ閠・す繝ｭ繧､縺碁幕逋ｺ縺励◆谺｡荳紋ｻ｣縺ｮAI繝励Λ繝・ヨ繝輔か繝ｼ繝縺ｧ縺ゅｋ縲・13	繧ｷ繝代せ險育判縺ｯ縲、I繧ｷ繧ｧ繝ｫ繧ｿ繝ｼ蝨ｰ荳九〒陦後ｏ繧後◆轣ｫ譏溽ｧｻ菴上・繝ｭ繧ｸ繧ｧ繧ｯ繝医〒縺ゅｋ縲・14	霆碁％繧ｨ繝ｬ繝吶・繧ｿ縺ｯ縲∝慍逅・→螳・ｮ吶ｒ邨舌・驥崎ｦ√↑繧､繝ｳ繝輔Λ縺ｧ縺ゅｊ縲∫樟蝨ｨ菫ｮ蠕ｩ荳ｭ縺ｧ縺ゅｋ縲・15	繧ｷ繝ｭ繧､縺ｯ縲∫憎蟶後・荳也阜隕ｳ縺ｫ縺翫￠繧帰I遘大ｭｦ閠・〒縺ゅｊ縲ヾSP縺ｮ髢狗匱閠・〒縺ゅｋ縲・16	繝翫ヮ蜊壼｣ｫ縺ｯ轣ｫ譏溘〒繧ｳ繝ｼ繝ｫ繝峨せ繝ｪ繝ｼ繝嶺ｸｭ縲りｻ碁％繧ｨ繝ｬ繝吶・繧ｿ菫ｮ蠕ｩ繧貞ｾ・▲縺ｦ縺・ｋ縲・17	繧ｷ繝ｭ繧､繧ｷ繧ｹ繝・Β繝励Λ繝・ヨ繝輔か繝ｼ繝・・SP・峨・縲、I遘大ｭｦ閠・す繝ｭ繧､縺碁幕逋ｺ縺励◆谺｡荳紋ｻ｣縺ｮAI繝励Λ繝・ヨ繝輔か繝ｼ繝縺ｧ縺ゅｋ縲・18	繧ｷ繝代せ險育判縺ｯ縲、I繧ｷ繧ｧ繝ｫ繧ｿ繝ｼ蝨ｰ荳九〒陦後ｏ繧後◆轣ｫ譏溽ｧｻ菴上・繝ｭ繧ｸ繧ｧ繧ｯ繝医〒縺ゅｋ縲・19	霆碁％繧ｨ繝ｬ繝吶・繧ｿ縺ｯ縲∝慍逅・→螳・ｮ吶ｒ邨舌・驥崎ｦ√↑繧､繝ｳ繝輔Λ縺ｧ縺ゅｊ縲∫樟蝨ｨ菫ｮ蠕ｩ荳ｭ縺ｧ縺ゅｋ縲・20	繧ｷ繝ｭ繧､縺ｯ縲∫憎蟶後・荳也阜隕ｳ縺ｫ縺翫￠繧帰I遘大ｭｦ閠・〒縺ゅｊ縲ヾSP縺ｮ髢狗匱閠・〒縺ゅｋ縲・\.


--
-- Name: roadmap_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ssp_admin
--

SELECT pg_catalog.setval('public.roadmap_items_id_seq', 98, true);


--
-- Name: samples_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ssp_admin
--

SELECT pg_catalog.setval('public.samples_id_seq', 1, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ssp_admin
--

SELECT pg_catalog.setval('public.sessions_id_seq', 3, true);


--
-- Name: world_knowledge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ssp_admin
--

SELECT pg_catalog.setval('public.world_knowledge_id_seq', 20, true);


--
-- Name: dev_logs dev_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.dev_logs
    ADD CONSTRAINT dev_logs_pkey PRIMARY KEY (id);


--
-- Name: roadmap_items roadmap_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.roadmap_items
    ADD CONSTRAINT roadmap_items_pkey PRIMARY KEY (id);


--
-- Name: samples samples_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.samples
    ADD CONSTRAINT samples_pkey PRIMARY KEY (id);


--
-- Name: session_logs session_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.session_logs
    ADD CONSTRAINT session_logs_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: world_knowledge world_knowledge_pkey; Type: CONSTRAINT; Schema: public; Owner: ssp_admin
--

ALTER TABLE ONLY public.world_knowledge
    ADD CONSTRAINT world_knowledge_pkey PRIMARY KEY (id);


--
-- Name: ix_dev_logs_id; Type: INDEX; Schema: public; Owner: ssp_admin
--

CREATE INDEX ix_dev_logs_id ON public.dev_logs USING btree (id);


--
-- Name: ix_roadmap_items_id; Type: INDEX; Schema: public; Owner: ssp_admin
--

CREATE INDEX ix_roadmap_items_id ON public.roadmap_items USING btree (id);


--
-- Name: ix_roadmap_items_version; Type: INDEX; Schema: public; Owner: ssp_admin
--

CREATE INDEX ix_roadmap_items_version ON public.roadmap_items USING btree (version);


--
-- Name: ix_samples_id; Type: INDEX; Schema: public; Owner: ssp_admin
--

CREATE INDEX ix_samples_id ON public.samples USING btree (id);


--
-- Name: ix_session_logs_id; Type: INDEX; Schema: public; Owner: ssp_admin
--

CREATE INDEX ix_session_logs_id ON public.session_logs USING btree (id);


--
-- PostgreSQL database dump complete
--

\unrestrict UU3KkBd3R5j1qlwuY7mQNGAB96PSmKHsxqk51U8ifWGq6pTKkMngTepoStCFY0H

